@model  TheRedditEF.ViewModels.PostUser
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome to Reddit Clone page</title>
</head>
<body>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <br />

            @if (Model.User != null)
            {
                <a href="/createpost" class="btn btn-info">Submit new post</a><a href="/Reddit/showallofmyposts" class="btn btn-primary">Show all of my post</a>
                <h2 class="h2">Trending posts</h2>
                <p>Hello @Model.User.Name!</p>
            }
            else
            {
                <h2 class="h2">Trending posts</h2>
                <p>Hello there! If You would like to submit or edit your posts, please log in!</p>
            }

            <div class="btn-group">
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Score</th>
                        <th>Upvote</th>
                        <th>Down</th>
                        <th>Content</th>
                        <th>Posted by</th>
                        <th>Created at</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ListOfPosts.Count < 10)
                    {
                        @for (int i = 0; i < Model.ListOfPosts.Count; i++)
                        {
                            <tr align="center">
                                <td>@Model.ListOfPosts[i].Score</td>
                                <td><form action="/Reddit/Upvote?id=@Model.ListOfPosts[i].Id" method="post"><button class="btn-success" type="submit"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></form></td>
                                <td><form action="/Reddit/Down?id=@Model.ListOfPosts[i].Id" method="post"><button class="btn-danger" type="submit"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></form></td>
                                <td><a href="/Reddit/ViewImage?id=@Model.ListOfPosts[i].Id"> @Model.ListOfPosts[i].Content</a></td>
                                <td>@Model.ListOfUsers.Where(user => user.Id == Model.ListOfPosts[i].UserID).FirstOrDefault().Name </td>
                                <td>@Model.ListOfPosts[i].CreatedAt</td>
                                @if (Model.ListOfPosts[i].UserID == Model.User.Id)
                                {
                                    <td>
                                        <form action="/Reddit/Delete?id=@Model.ListOfPosts[i].Id" method="post">
                                            <button class="btn btn-danger" type="submit">delete</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form action="/ToDo/Edit?id=@Model.ListOfPosts[i].Id" method="post">
                                            <button class="btn btn-info" type="submit">delete</button>
                                        </form>
                                    </td>
                                }
                                else
                                {
                                    <td></td>
                                    <td></td>
                                }
                            </tr>

                        }
                    }
                    @if (Model.ListOfPosts.Count > 10)
                    {
                        @for (int i = 0; i < 10; i++)
                        {
                            <tr align="center" style="height:60px">
                                <td>@Model.ListOfPosts[i].Score</td>
                                <td><form action="/Reddit/Upvote?id=@Model.ListOfPosts[i].Id" method="post"><button class="btn-success" type="submit"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></form></td>
                                <td><form action="/Reddit/Down?id=@Model.ListOfPosts[i].Id" method="post"><button class="btn-danger" type="submit"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></form></td>
                                <td><a href="/Reddit/ViewImage?id=@Model.ListOfPosts[i].Id"> @Model.ListOfPosts[i].Content</a></td>
                                <td>@Model.ListOfUsers.Where(user => user.Id == Model.ListOfPosts[i].UserID).FirstOrDefault().Name </td>
                                <td>@Model.ListOfPosts[i].CreatedAt</td>
                                @if (Model.ListOfPosts[i].UserID == Model.User.Id)
                                {
                                    <td>
                                        <form action="/Reddit/edit?id=@Model.ListOfPosts[i].Id" method="post">
                                            <button class="btn btn-info" type="submit">edit</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form action="/Reddit/delete?id=@Model.ListOfPosts[i].Id" method="post">
                                            <button class="btn btn-danger" type="submit">delete</button>
                                        </form>
                                    </td>
                                }
                                else
                                {
                                    <td></td>
                                    <td></td>
                                }
                            </tr>
                        }
                    }
                    @if (Model.ListOfPosts == null)
                    {
                        <p>There are no records yet! </p>
                    }

                </tbody>
            </table>
            <br />
            <form action="/Reddit/SearchPost" method="post">
                <input type="text" name="content" value="" placeholder="search..." />
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
            <br />
            <form action="/Reddit/logout" method="post">
                <button class="btn btn-success" type="submit">Log out</button>
            </form>
            <br/>
            <p>If You want delete your user account press the button below</p>
            <form action="/Reddit/deleteuser" method="post">
                <button class="btn btn-success" type="submit">Delete user</button>
            </form>
        </div>
            <div class="col-md-1"></div>
        </div>
</body>
</html>