@model List<Post>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome to Reddit Clone page</title>
</head>
<body>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            </br>
            <a href="/createpost" class="btn btn-info">Submit new post</a>
            <h2 class="h2">Trending posts</h2>
            <div class="btn-group">
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Score</th>
                        <th>Upvote</th>
                        <th>Down</th>
                        <th>Content</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count < 10)
                    {
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr align="center">
                                <td>@Model[i].Score</td>
                                <td><form action="/Reddit/Upvote?id=@Model[i].Id" method="post"><button class="btn-success" type="submit"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></form></td>
                                <td><form action="/Reddit/Down?id=@Model[i].Id" method="post"><button class="btn-danger" type="submit"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></form></td>
                                <td><a href="/Reddit/ViewImage?post=@Model[i]"> @Model[i].Content</a></td>
                                <td>@Model[i].CreatedAt</td>
                            </tr>
                        }
                    }
                    @if (Model.Count > 10)
                    {
                        @for (int i = 0; i < 10; i++)
                        {
                            <tr align="center">
                                <td>@Model[i].Score</td>
                                <td><form action="/Reddit/Upvote?id=@Model[i].Id" method="post"><button class="btn-success" type="submit"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></form></td>
                                <td><form action="/Reddit/Down?id=@Model[i].Id" method="post"><button class="btn-danger" type="submit"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></form></td>
                                <td><a href="/Reddit/ViewImage?post=@Model[i]"> @Model[i].Content</a></td>
                                <td>@Model[i].CreatedAt</td>
                            </tr>
                        }
                    }
                    @if (Model == null)
                    {
                        <p>There are no records yet! </p>
                    }

                </tbody>
            </table>
            <br />
            <form action="/Reddit/SearchPost" method="post">
                <input type="text" name="content" value="" placeholder="search..." />
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
            <br />
            <form action="/Reddit/logout" method="post">
                <button class="btn btn-success" type="submit">Log out</button>
            </form>
        </div>
            <div class="col-md-1"></div>
        </div>
</body>
</html>